* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: arial;
}

section {
    height: auto;
}

table {
    border: 2px solid black;
}

table tr {
    text-align: center;
    padding: 0 20px 0 20px;
}

a {
    text-decoration: none;
}
